uWSGI==2.0.15
Django==2.0.1
djangorestframework==3.7.7
djangorestframework-camel-case==0.2.0
djangorestframework-jwt==1.11.0
djangorestframework-recursive==0.1.2
drf-nested-routers==0.90.2
psycopg2==2.7.3.2
